body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color:  red green blue;
}

h1,
h2,
h3 {
    margin: 0 0 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #ff404f;
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#body-header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.nav-links a {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pill {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}

.about-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}
.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}